<div>
  <div>
    <h3>LIVE SCORES</h3>
    <table>
      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <td>
              <%= link_to match_path(match["id"]) do %>
                <b><%= match["team1"] %></b> v <b><%= match["team2"] %></b>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div>
    <h3>PREVIOUS MATCH RESULTS</h3>
    <table>
      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <td>
              <%= link_to match_path(match["id"]) do %>
                <b><%= match["team1"] %></b> v <b><%= match["team2"] %></b>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
