<div>
  <div>
    <h3>LIVE SCORES</h3>
    <% if @live_matches.present? %>
      <table>
        <tbody>
          <% @live_matches.each do |match| %>
            <tr>
              <td>
                <%= link_to match_path(match["id"]) do %>
                  <b><%= match["team1"] %></b> v <b><%= match["team2"] %></b>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        No live matches found!
      <% end %>
    </table>
  </div>
  <div>
    <h3>PREVIOUS MATCH RESULTS</h3>
    <% if @previous_matches.present? %>
      <table>
        <tbody>
          <% @previous_matches.each do |match| %>
            <tr>
              <td>
                <%= link_to match_path(match["id"]) do %>
                  <b><%= match["team1"] %></b> v <b><%= match["team2"] %></b>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      No matches found!
    <% end %>
  </div>
</div>
