<h1 data-behavior="match-title" data-match-id="<%= @match["id"] %>">
  <%= @match["title"] %>
</h1>

<div data-behavior="first-batting-team-score">
  <% if @match["first_batting_team_score"] && @match["first_batting_team_score"]["played"] %>
    <h3> <%= @match["first_batting_team_score"]["name"]%> <%= @match["first_batting_team_score"]["total_runs"] %>/<%= @match["first_batting_team_score"]["total_out"] %> </h3>
  <% end %>
</div>

<div data-behavior="current-batting-team-score">
  <%= @match["current_batting_team_score"]["name"]%> <%= @match["current_batting_team_score"]["total_runs"] %>/<%= @match["current_batting_team_score"]["total_out"] %>
<div>

<script src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script type="text/javascript">
  var ws = new SockJS("http://127.0.0.1:15674/stomp");
  var client = Stomp.over(ws);

  client.heartbeat.outgoing = 0;
  client.heartbeat.incoming = 0;

  var onDebug = function(m) {
    console.log("DEBUG", m);
  };

  var onConnect = function() {
    console.log("Connected");
    var matchID = $("[data-behavior~=match-title]").data('match-id');
    var firstBattingTeamScoreInfo = "";

    client.subscribe("match-" + matchID, function(data) {
      var match = JSON.parse(data.body);

      if (match["first_batting_team_score"]["played"]) {
        var firstBattingTeamScoreInfo = match["first_batting_team_score"]["name"] + " " + match["first_batting_team_score"]["total_runs"] + "/" + match["first_batting_team_score"]["total_out"];
        $("[data-behavior~=first-batting-team-score]").html("<h3>" + firstBattingTeamScoreInfo + "</h3>");
      }

      var currentBattingTeamScoreInfo = match["current_batting_team_score"]["name"] + " " + match["current_batting_team_score"]["total_runs"] + "/" + match["current_batting_team_score"]["total_out"];
      console.log(currentBattingTeamScoreInfo);
      $("[data-behavior~=current-batting-team-score]").html(currentBattingTeamScoreInfo);
    });
  };

   var onError = function(e) {
     console.log("ERROR", e);
   };

   client.debug = onDebug;
   client.connect("guest", "guest", onConnect, onError, "/");
 </script>
