<h1><%= match["title"] %></h1>
<h3><%= match["first_batting_team"]["total_run"]%><%= match["first_batting_team"]["total_run"] %></h3>

<p>
  <%= match["team"] %> is palying...
  <%= match["total_run_for_team"] %> / <%= match["out_count_for_team"] %>
</p>
